script(type="text/javascript").
    function drawChart() {
        var data, options, chart;

        //draw weekly chart
        data = google.visualization.arrayToDataTable(
                !{JSON.stringify(_.concat([['Tag', 'Karl1', 'Karl2', 'Karl3']], result.weekly))});

        options = {
            title: 'Produzierte kWh auf Tagesbasis',
            vAxis: {format: '#.## kWh'},
            hAxis: {
                showTextEvery   : 1,
                slantedText     : true,
                slantedTextAngle: 45
            }
        };

        chart = new google.visualization.ColumnChart(document.getElementById('kilowatthourperweek'));

        chart.draw(data, options);
    }


.container-fluid
    .row
        .col-xs-12
            table.table.table-bordered.table-striped.table-responsive
                thead
                    tr
                        th Tag
                        th Karl1
                        th Karl2
                        th Karl3
                        th Total
                tbody
                    each entry in result.weekly
                        tr
                            td !{entry[0]}
                            td.text-right !{entry[1].toFixed(2)} kWh
                            td.text-right !{entry[2].toFixed(2)} kWh
                            td.text-right !{entry[3].toFixed(2)} kWh
                            td.text-right !{(entry[1] + entry[2] + entry[3]).toFixed(2)} kWh


    .row
        .col-xs-12
            #kilowatthourperweek(style="width: 100%; height: 800px;")